@font-face {
  font-family: "wildma";
  src: url('../assets/fonts/WILDMA__.TTF');
}

.container {
  position: relative;
  display: grid;
  grid-template: 'header''buttons''play''footer';
  grid-template-rows: 10vh 15vh 65vh 10vh;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #C2A3FF;
  background: url('../assets/images/background.jpg') top right;
  background-size: cover;
}

header {
  background: #FF6400;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-area: header;
  border-bottom: 2px solid #fff;
  box-shadow: 1px 1px 1px #FF6400;
}



.Badge {
  font-family: wildma, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4em;
  color: #fff;
  text-shadow: 0 0 5px #2B2768, 0 0 6px #FF6400;
}

.buttonFunctions {
  display: grid;
  margin: 10px 50px;
  grid-area: buttons;
}

#buttonGroup {
  justify-self: right;
}

#whoStarts,
#whoPlay,
#whoWin {
  position: absolute;
  top: 90px;
  left: 100;
  padding: 5px 20px;
  background: #fff;
  text-align: center;
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #FF6400;
  border: 1px solid #C2A3FF;
  display: none;
}

.audioElOn,
.audioElOff,
.machineEl,
.levelEl1,
.levelEl2,
.levelEl3,
.playEl {
  width: 80px;
  height: 80px;
  background: none;
  border: none;
  margin: 0 10px;
  cursor: pointer;
}


.audioElOn {
  background-image: url('../assets/icons/audioOn.png');
  transition: background-image .6s;
}

.audioElOff {
  background-image: url('../assets/icons/audioOff.png');
  transition: background-image .6s;
}

.machineEl {
  background-image: url('../assets/icons/robotOn.png');
  transition: background-image .6s;
}

.levelEl1 {
  background-image: url('../assets/icons/l1.png');
  transition: background-image .6s;
}

.levelEl1:hover {
  background-image: url('../assets/icons/l1Hover.png');
  transition: background-image .6s;
}

.levelEl2 {
  background-image: url('../assets/icons/l2.png');
  transition: background-image .6s;
}

.levelEl2:hover {
  background-image: url('../assets/icons/l2Hover.png');
  transition: background-image .6s;
}

.levelEl3 {
  background-image: url('../assets/icons/l3.png');
  transition: background-image .6s;
}

.levelEl3:hover {
  background-image: url('../assets/icons/l3Hover.png');
  transition: background-image .6s;
}

.playEl {
  background-image: url('../assets/icons/play.png');
  transition: background-image .6s;
}

.playEl:hover {
  background-image: url('../assets/icons/play_hover.png');
  transition: background-image .6s;
}

.playEl.disabled {
  background-image: url('../assets/icons/play_disabled.png');
  transition: background-image .6s;
  cursor: auto;
}

.audioElOn:hover,
.audioElOff:hover {
  background-image: url('../assets/icons/audioOff.png');
}

.machineEl:hover {
  background-image: url('../assets/icons/robotOff.png');
}

/****[ Content ]****/

.content {
  background-color: #FF6400;
  width: 32%;
  padding: 56px;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  display: grid;
  grid-area: play;
  border: 5px solid #fff;
  box-shadow: 1px 1px 10px #FF6400;
}

#board {
  width: 20vw;
  height: 20vw;
  align-self: center;
  justify-self: center;
  display: block;
  display: none;
}

#selectCharacter {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9em;
  color: #fff;
  text-shadow: 0 0 5px #000;
  width: 20vw;
  height: 20vw;
  align-self: center;
  justify-self: center;
  display: grid;
  justify-content: center;
  align-content: center;
}

#selectCharacter>h2 {
  margin: 20px 0;
  text-align: center;
}

.character {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.character>img {
  border-radius: 10%;
  width: 120px;
  height: 120px;
  margin: 0 2px;

}

.character>img:hover {
  background: rgba(255, 255, 255, 0.178);
  border: 1px solid #fff;
  box-sizing: border-box;
}

td {
  border: 1px solid #fff;
}

td>img {
  width: 100%;
}

footer {
  grid-area: footer;
}

#cel1,
#cel2,
#cel3 {
  border-top: none;
}

#cel7,
#cel8,
#cel9 {
  border-bottom: none;
}

#cel1,
#cel4,
#cel7 {
  border-left: none;
}

#cel3,
#cel6,
#cel9 {
  border-right: none;
}

footer {
  font-family: wildma;
  text-align: center;
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 5px #FF6400;
}



@media (max-width: 575.98px) {
  .container {
    display: grid;
    grid-template: 'header''play''buttons''footer';
    grid-template-rows: 10vh 60vh 20vh 10vh;
  }

  .buttonFunctions {
    justify-self: center;

  }

  .Badge {
    font-size: 3em;
  }

  .content {
    width: 60%;
  }

  #board {
    width: 40vw;
    height: 40vw;
  }

  #selectCharacter {
    width: 40vw;
    height: 40vw;
  }



  #buttonGroup {
    justify-self: right;
  }

  #whoStarts,
  #whoPlay,
  #whoWin {
    position: absolute;
    top: 60px;
    font-size: 18px;
    display: none;
  }

  .audioElOn,
  .audioElOff,
  .machineEl,
  .levelEl1,
  .levelEl2,
  .levelEl3,
  .playEl {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }


  .audioElOn,
  .audioElOff,
  .machineEl,
  .levelEl1,
  .levelel2,
  .levelel3,
  .playEl {
    background-size: 40px;
  }

}


@media (max-width: 767.98px) {
  .container {
    display: grid;
    grid-template: 'header''play''buttons''footer';
    grid-template-rows: 10vh 60vh 20vh 10vh;
  }

  .buttonFunctions {
    justify-self: center;

  }

  .Badge {
    font-size: 3em;
  }

  .content {
    width: 60%;
  }

  #board {
    width: 40vw;
    height: 40vw;
  }

  #selectCharacter {
    width: 40vw;
    height: 40vw;
  }

  #buttonGroup {
    justify-self: right;
  }

  #whoStarts,
  #whoPlay,
  #whoWin {
    position: absolute;
    top: 80px;
    font-size: 18px;
    display: none;
  }

  .audioElOn,
  .audioElOff,
  .machineEl,
  .levelEl1,
  .levelEl2,
  .levelEl3,
  .playEl {
    width: 50px;
    height: 50px;
    margin: 0 5px;
  }


  .audioElOn,
  .audioElOff,
  .machineEl,
  .levelEl1,
  .levelEl2,
  .levelEl3,
  .playEl {
    background-size: 50px;
  }



}


@media (max-width: 991.98px) {

  .content {
    width: 50%;
  }

  #board {
    width: 35vw;
    height: 35vw;
  }

  #selectCharacter {
    width: 35vw;
    height: 35vw;
  }

}


@media (max-width: 1199.98px) {}