@font-face {
  font-family: "wildma";
  src: url("../fonts/WILDMA__.TTF");
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #c2a3ff;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: top;
  justify-content: center;
}

#container {
  width: 100vw;
  height: 100vh;
  min-height: 660px;
  min-width: 323px;
}

header {
  width: 100%;
  height: 25vh;
  background-image: url("../images/logocortado.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-items: top;
  justify-content: center;
}

#messages {
  width: 100%;
}

#messages > p {
  background: #fffefd;
  text-align: center;
  width: 98%;
  height: 8vh;
  line-height: 8vh;
  border: 1px solid inset #c2a3ff;
  border-radius: 10px;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  color: #698f00;
  overflow: hidden;
  text-shadow: 1px 1px 3px #c2a3ff;
  box-shadow: 0 3px 6px #0000007e;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#board {
  box-sizing: content-box;
  background: #ff6400;
  width: 270px;
  height: 270px;
  border: 5px solid #fff;
}

#selectCharacter {
  display: grid;
  /* display: none; */
  justify-content: center;
  align-content: center;
  height: 100%;
}

#selectCharacter ul {
  width: 90%;
  margin: 0 5%;
}

#board #selectCharacter ul li {
  display: inline;
  cursor: pointer;
}

#board #selectCharacter ul li img {
  width: 49%;
  box-sizing: border-box;
}

#board #selectCharacter ul li img:hover {
  border: 1px solid #fff;
  border-radius: 10px;
  background: #ffffff4d;
}

#board table {
  /* display: grid; */
  display: none;
  width: 270px;
  height: 270px;
}

#board tr {
  display: inline;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

#board td {
  background: #ff6400;
  width: 90px;
  height: 90px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #fff;
}

#board td img {
  width: 100%;
  height: 100%;
}

.controls {
  grid-area: buttons;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  align-content: center;
  justify-content: center;
  width: 100%;
  justify-self: center;
  margin-top: 5px;
}

.material-icons {
  color: white;
}

.controls ul {
  box-sizing: content-box;
  margin: 0 1px;
  display: grid;
  justify-content: center;
}

.controls ul li {
  text-align: center;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 14px;
  text-shadow: 1px 1px 2px #000;
}

.controls ul .button {
  width: 50px;
  height: 50px;
  background: #ff6400;
  border-radius: 50%;
  border: 3px solid #fff;
  box-sizing: border-box;
  display: grid;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  text-shadow: none;
  box-shadow: 1px 1px 5px #000;
}

.button i {
  font-size: 30px;
}

.controls select {
  background: #ff6400;
  border: 3px solid #fff;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  box-shadow: 1px 1px 5px #000;
}

.controls .disabled {
  display: none;
}

#boxMessage {
  display: block;
}

footer {
  grid-area: footer;
  display: grid;
  text-align: center;
  font-family: "wildma", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  justify-content: center;
  align-content: center;
}

footer ul {
  width: 60vw;
  font-size: 12px;
}

footer ul li:last-child {
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px #000, 2px 2px 4px #cc0000;
}

#fimJogo {
  display: none;
  align-content: center;
  justify-content: center;
}

#vencedor {
  display: grid;
  align-content: center;
  justify-content: center;
}

#vencedor h2 {
  text-align: center;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 2px #000;
  padding: 5px 0;
}

#vencedor img {
  width: 81px;
  height: 104px;
  display: grid;
  justify-self: center;
  padding: 5px 0;
  margin: 20px 0 0 0;
}

#vencedor button {
  width: 100%;
  justify-self: center;
  background: none;
  border: 1px solid #fff;
  margin: 5px 0;
  border-radius: 5px;
  color: white;
  height: 35px;
  line-height: 35px;
  padding: 0 5px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #0000009c;
}

#vencedor button:hover {
  background: rgb(192, 78, 2);
}

#vencedor i {
  line-height: 35px;
  height: 35px;
  margin: 0;
  padding: 0 0 0 5px;
  float: left;
}

@media (min-width: 375.98px) {
  #container {
    width: 80vw;
  }
}

@media (min-width: 575.98px) {
  #container {
    width: 75vw;
  }
}

@media (min-width: 767.98px) {
  #container {
    width: 50vw;
  }
}

@media (min-width: 991.98px) {
  #container {
    width: 40vw;
  }
}

@media (min-width: 1199.98px) {
  #container {
    width: 30vw;
  }
}
